numpy
pandas
scipy

matplotlib
seaborn
plotly

scikit-learn
xgboost
lightgbm

tensorflow
keras
catboost

statsmodels
prophet
pmdarima

tsfresh
feature-engine

optuna
shap

streamlit
streamlit-aggrid

openpyxl
xlrd

joblib
tqdm
python-dotenv

jupyter
ipykernel
black
pylint
